<label tal:attributes="for item/getId">
	<input tal:condition="item/isSelectedByUser" name="quizParam[question][${question/getId}]" tal:attributes="id item/getId; value item/getId" type="radio" checked="checked" disabled="disabled"/>  
	<input tal:condition="not: item/isSelectedByUser" name="quizParam[question][${question/getId}]" tal:attributes="id item/getId; value item/getId" type="radio" disabled="disabled"/>
	<span tal:condition="item/getIscorrect" class="correct" ><strong tal:content="item/getLabel"/></span>
	<span tal:condition="not: item/getIscorrect" class="incorrect"><i tal:content="item/getLabel"/></span>
</label>
<div tal:condition="item/isSelectedByUser" tal:omit-tag="">
	<span tal:condition="item/getComment">
		<p class="explaination" tal:content="item/getComment" />
	</span>
</div>