<h3>Le quiz</h3>

<p>
	Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.
</p>

<form action="#">
	<ol>
	
		<li>
			<fieldset>
				<p>Novo denique perniciosoque exemplo idem Gallus ausus est inire flagitium grave, quod Romae cum ultimo dedecore temptasse aliquando dicitur Gallienus</p>
				<label for="q01ch01"><input id="q01ch01" type="radio" name="q01" /> Réponse 1</label>
				<label for="q01ch02"><input id="q01ch02" type="radio" name="q01" /> Réponse 2</label>
				<label for="q01ch03"><input id="q01ch03" type="radio" name="q01" /> Réponse 3</label>
	
			</fieldset>
		</li>
			<li>
			<fieldset>
				<p>Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos</p>
				<label for="q02ch01"><input id="q02ch01" type="checkbox" name="q02" /> Réponse 1</label>
				<label for="q02ch02"><input id="q02ch02" type="checkbox" name="q02" /> Réponse 2</label>
				<label for="q02ch03"><input id="q02ch03" type="checkbox" name="q02" /> Réponse 3</label>
			</fieldset>
		</li>
		<li><input class="button" type="submit" value="Valider" /></li>
	</ol>
</form>

<p>
	Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.
</p>